<!DOCTYPE html>
<html th:replace="~{base :: template (~{::main})}">
  <body>
    <main>
      <h1>Lista de diaristas</h1>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Estado</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="housekeeper : ${housekeepers}">
            <td th:text="${housekeeper.id}"></td>
            <td th:text="${housekeeper.fullname}"></td>
            <td th:text="${housekeeper.email}"></td>
            <td th:text="${housekeeper.state}"></td>
            <td>
              <a class="btn btn-sm btn-warning" href="#">Editar</a>
              <a
                class="btn btn-sm btn-danger"
                th:href="@{/admin/diaristas/{id}/excluir (id=${housekeeper.id})}"
                onclick="return confirm('Tem certeza que deseja excluir esse registro?')"
              >
                Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <a class="btn btn-sm btn-primary" th:href="@{/admin/diaristas/cadastrar}">
        Cadastrar diarista
      </a>
    </main>
  </body>
</html>
